*{
    box-sizing: border-box;
    font-family: Poppins;
}

html, body {
    margin: 0;
    background-color: hsl(0, 100%, 74%);
}

.heading{font-size: 30px; font-weight: 800}

.full-screen-container{
    background-image: url(https://drive.google.com/file/d/1nEutzDG8bc8ZgtqHpEeaRSAa1tH2N3gu/preview);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 1440px;
    @media screen and (max-width: 600px) {
    . view {
    width: 375px;
    }
    };
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    color: #fff;
    margin-right: 15rem;
    font-size: 40px;
}

.sub-heading{
    color: #fff;
    line-height: 30px;
}

.sign-in{
    margin-bottom: 1.5rem;
}

input::placeholder {
    font-size: 12px;
    font-weight: 600;
    padding: 25px 5px;
}

b{
    font-weight: 900;
}

.try-it{
    flex-direction: column;
    background-color: #5C55A7;
    color: #fff;
    font-size: 12px;
    font-weight: lighter;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px ;
    outline: none;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
    box-shadow: 0px 5px rgba(0, 0, 0, 0.35);
}


.login-container{
    background-color: #fff;
    padding: 20px;
    min-width: 400px;
    width: 70px;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.35);
}

.input-group{
    display: flex;
    flex-direction: column;
}

.input-group label {
    color: white;
    font-weight: lighter;
    font-size: 10px;
}

h6{
    color: rgb(207, 204, 204);
}

a{
    color: rgb(240, 30, 30);
    text-decoration: none;
}

.input-group input {
    font-size: 15px;
    padding: 15px 15px;
    border: 1px solid hsl(195, 4%, 79%);
    outline: none;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
}

.input-group input:hover{border: 1.5px solid hsl(195, 3%, 42%);}

 

.login-button{
    padding: 10px 30px;
    width: 100%;
    border-radius: 5px;
    background-color: #40C78C;
    border: 1px solid #3eb581;
    outline: none;
    text-transform: uppercase;
    font-size: 1.0em;
    color: white;
    font-weight: 600;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 2.5px rgba(0, 0, 0, 0.35);
}
